.basket_item_product {
  border: 1px solid gray;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.item_name {
  font-size: 20px;
}

.basket_item_image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.basket_item_rating {
  display: flex;
}

.basket_item_price {
  font-size: 20px;
}

.arrow_btn {
  background: #f0c14b;
  border-radius: 2px;
  height: 30px;
  border: 1px solid;
  margin: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
